<h1 mat-dialog-title>Edit Todo:</h1>
<form class="p-8">
    <mat-form-field class="example-full-width">
      <mat-label>Edit Todo</mat-label>
      <input matInput placeholder="Enter a text" [(ngModel)]="data.title" [ngModelOptions]="{ standalone: true }" maxlength="100">
    </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary" (click)="onClose(data.title)">Save</button>
  <button mat-raised-button mat-dialog-close color="warn" cdkFocusInitial>Abort</button>
</div>