.send-todos-div {
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    bottom: 0;
}

.send-todos-input-button{
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 0 16px 0 16px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
    height: 0;
}

.todo-list-table{
    margin: 32px;
}

.cursor-pointer{
    cursor: pointer;
    vertical-align: middle;
}

.mat-table-row:hover {
    background-color: lightgray;
  }