<div id="loading-screen" *ngIf="loading">
  <div class="loading-screen-center">
      <mat-spinner color="primary"></mat-spinner>
      <span class="loading-screen-text">Loading</span>
  </div>
</div>

<mat-toolbar color="primary">
  <span>My Todo App</span>
</mat-toolbar>

<div class="login-card">
  <mat-card style="width: 500px">
    <form (ngSubmit)="login()">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Some todos are waiting for you</mat-card-subtitle>
      </mat-card-header>

      <div class="login-input-fields">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" name="username" [(ngModel)]="username" required />
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" required />
        </mat-form-field>
      </div>
      
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </mat-card-actions>
    </form>
    <div class="warning-message" *ngIf="failedLogin">Login failed, please try again!</div>
  </mat-card>
</div>
